<!-- views/partials/footer.ejs -->

  <!-- footer display -->
  <div id="footer">
    <div class="container">
      <p class="text-muted">© Copyright 2015 create by Annie Pennell</p>
    </div>
  </div>

  <!-- glyphicon to scroll back to the top of page -->
  <ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
  </ul>

  <!-- jquery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- bootstrap script -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- links to js script -->
  <script src="/js/scripts.js"></script>
</body>
</html>
