<!-- views/partials/footer.ejs -->
<div class='text-center text-muted'>      
  <form method='POST' action='/logout?_method=DELETE'>
  <button>Sign Out</button>
  </form>
</div>
<br>
<br>
<p class='text-center text-muted'>© Copyright 2015 create by Annie Pennell</p>