<!-- views/partials.header.ejs -->

<nav class='navbar navbar-default' role='navigation'>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">create</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/creations">Creations</a></li>
      <li><a href="/creations/new">Contribute</a></li>
      <li><a href="/profile">Account</a></li>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/signup">Register</a></li>
    </ul>
  </div>  
</nav>
