<!-- views/partials.header.ejs -->

<nav class='navbar navbar-default' role='navigation'>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">create</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Sign In</a></li>
      <li>      
        <form method='POST' action='/logout?_method=DELETE'>
        <button>Sign Out</button>
        </form>
      </li>
      <li><a href="/signup">Register</a></li>
    </ul>
  </div>  
</nav>