<!--views/creations/index.ejs-->

<title>Create - Creations</title>

<% include ../partials/head %>

<!-- Wrap all page content here -->
<div id="wrap">
  
<!-- Begin page content -->

<!-- top container  -->
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">

    <div class="page-header text-center">
      <h1 class="heading">creations</h1>
      <br>
      <p class="lead text-center">Explore our community's works!</p>
    </div>
    
    <!-- section looping through to list each creation's title and username -->
    <br>
    <div class="container" id="section3">
        <div class="col-sm-8 col-sm">
          <div class="container">
            <% creationsList.forEach(function(creation) { %>
            <div>
              <p class="list"><a href="/creations/<%= creation.id %>"><strong><%= creation.title %> </strong></a><%= creation.User.username %></p>
            </div>
            <% }) %>
            <br><br>
          </div>
        </div><!--/col-->
    </div><!--/container-->

  </div>
</div>
  
<div class="divider"></div>

<!-- bottom section with image and some text -->
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"> 
    <h2 style="padding:20px;background-color:rgba(5,5,5,.8)">join the create community</h2>
  </div>
</section>
  
</div><!--/wrap-->

<% include ../partials/footer %>
