<!-- views/creations.new.ejs -->
  <title>Contribute</title>
  <% include ../partials/head %>

  <main>
    <div class="container">
      <h2>Share what you made!</h2>
      <form method="post" action="/creations">
        <br>
        <input type="text" name="creation[prompt]" size="50" required="required" placeholder="Prompt"><br>
        <input type="text" name="creation[title]" size="50" required="required" placeholder="Title"><br><br>
        
        <textarea name="creation[content]" cols="50" rows="15" required="required" placeholder="Your creation here."></textarea><br>
        <button>Save </button>
      </form>
    </div>
  </main>

    <% include ../partials/footer %>
