<!-- views/site/index.ejs -->

  <title>Create - Home</title>

  <% include ../partials/head %>

<!-- Wrap all page content here -->
<div id="wrap">
  
<!-- Begin page content -->
<div class="divider" id="section1"></div>
  
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>today's prompt</h2>
    <div class="page-header text-center">
      <!-- show Word of Day -->
      <h1 id="word-of-day"><%= jsonData.word %></h1>
    </div>
    
    <p class="lead text-center">
      <!-- show WOD part of speech -->
        <%= jsonData.definitions[0].partOfSpeech %>
        <br>
        <!-- show WOD definition -->
        <%= jsonData.definitions[0].text %>
    </p>
    <p class="text-center">
      <button class="btn"><a href="creations/new">Contribute</a></button>
    </p>
  </div>
</div>
    
<div class="divider" id="section2"></div>
  
<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">what have you made today?</h2></div>
</section>
  
<div class="divider"></div>
   
<div class="container" id="section3">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>use today's prompt to create!</h1>

      <hr>
        <h3>
        Photograph, draw, paint, collage, write—whatever your medium, make something that expresses what the daily prompt means to you. Then, share your work with the create community!
        </h3>
      <hr>
    </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>
  
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">join the create community</h2></div>
</section>
  
<div class="continer bg-4">
  <div class="row">
     <div class="col-sm-4 col-xs-6">
      
        <div class="panel panel-default">
          <div><img src="http://i.imgur.com/MZ1dLhW.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <a href="/creations"><p class="lead">Explore the creations</p></a>
          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="http://i.imgur.com/dBOOSqg.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <a href="/creators"><p class="lead">Explore the creators</p></a>
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="http://i.imgur.com/tL4xSe6.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Explore the prompts</p>
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
  </div><!--/row-->
</div><!--/container-->
  
</div><!--/wrap-->

<% include ../partials/footer %>

