<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h2>today's prompt</h2>
      <h1><%= jsonData.word %></h1>
      <h3><%= jsonData.note %></h3>
      <button><a href="creations/new">Contribute</a></button>
    </div>

    <div class="container">
      <h3>Use today's prompt to create!</h3>
      <p>Photograph, draw, paint, collage, write—whatever your medium, make something that expresses what the daily prompt means to you. Then, share your work with the create community!</p>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>