<!-- views/user/login.ejs -->

  <title>Create</title>
  <% include ../partials/head %>

  <main>
    <div class="container">
      <h2>Please Log In</h2>
      <form method="post" action="/login">
        <div>
          <input type="text" name="email" placeholder="Email">
        </div>
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button>Login</button>
      </form>
    </div>
  </main>

    <% include ../partials/footer %>
