<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h2>Please Log In</h2>
      <form method="post" action="/login">
        <div>
          <input type="text" name="email" placeholder="Email">
        </div>
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button>Login</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>
</html>