<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!--   <link rel="stylesheet" type="text/css" href="../navbar-fixed-top.css"> -->
</head>
<body>

<!--Start of Navigation Bar -->
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="login">Log In</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
</div>  <!-- End of Navigation Bar -->

<div class="container">

  <h2>Please Log In</h2>
  
  <form method="post" action="/login">
    <div>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button>Login</button>
  </form>

</div>
</body>
</html>