<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h1>Hi <%= ejsUser.email %></h1>
      <form method='POST' action='/logout?_method=DELETE'>
        <button>Log out</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>  

</body>
</html>