<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h1>Hi <%= ejsUser.name %>!</h1>
      <br>
      <p><strong><a href="/creators/<%= ejsUser.id %>"> View Profile </a></strong><p>
      <p><strong><a href="/creations/new">Contribute</a></strong><p>
      <br>
    </div>

    <div class="container">
      <% creationsList.forEach(function(creation){ %>
        <a href="/creations/<%= creation.id  %>"><%= creation.title  %></a>
      <% }) %>
    </div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>  

</body>
</html>