<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h2>Please Sign Up</h2>
      <form method="POST" action="/signup">
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="text" name="username" placeholder="Select a User Name"><br>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="location" placeholder="Location"><br>
        <button>Sign Up</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>