<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">

      <% if(err) { 



       %>
      <!--  If an error occurred, create an error div and display the message. -->

      <div class="error">
        <p>Wrong email or password. Please try again or sign up!</p>
      </div>

      <% // Ends the foreach loop
      } // Ends the if statement
      %>
      <h2>Please Sign Up</h2>
      <form method="POST" action="/signup">
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password*"><br>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="username" placeholder="Pick a Username"><br>
        <input type="text" name="location" placeholder="Where are you from?"><br>
        <p>*Password must be between 6 and 16 characters</p>
        <button>Sign Up</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>