<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Create</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!--   <link rel="stylesheet" type="text/css" href="../navbar-fixed-top.css"> -->
</head>
<body>

<!--Start of Navigation Bar -->
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="login">Log In</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
</div>  <!-- End of Navigation Bar -->

<div class="container">
  <h2>Please Sign Up</h2>
  <form method="POST" action="/signup">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="text" name="username" placeholder="Select a User Name"><br>
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="location" placeholder="Location"><br>

    <button>Sign Up</button>
  </form>

</div>
</body>
</html>